.logo {
  color: white; }

.boton1 {
  background-color: black;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid white;
  border-radius: 5px; }

.boton2 {
  background-color: blue;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid darkblue;
  border-radius: 5px; }

nav {
  background-color: black; }

.seccion {
  padding-top: 80px;
  padding-bottom: 115px;
  background-color: #dadbf1;
  height: 400px; }

.textodiv {
  color: #000000;
  font-size: 80px;
  letter-spacing: -4px;
  font-weight: 400;
  margin: 0 0 1rem;
  text-align: center; }

.form {
  display: flex;
  flex-direction: column; }

.form__search {
  margin-left: 23rem;
  margin-right: 23rem;
  padding: 1.2rem;
  border-radius: 5px;
  border: 1px solid; }

.conteiner {
  padding-bottom: 1rem; }

.conteiner__box {
  width: 80%;
  max-width: 1600px; }

.box {
  display: flex;
  width: 100%; }

.grilla {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  margin-top: 8rem;
  margin-left: 10rem;
  margin-right: 10rem; }

.box__image {
  width: 86px;
  height: 86px;
  margin-top: 50px; }

h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 3rem 0 1rem; }

.p__box {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px; }

.a__box {
  font-size: 20px;
  line-height: 28px;
  color: #4C5FD5;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none; }

.a__box:hover {
  text-decoration: underline; }

.box__texto {
  padding-left: 1.5rem;
  padding-right: 3rem;
  text-align: left; }
