.logo{
    color: white
}


.boton1{
    background-color: black;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid white;
    border-radius: 5px;
}

.boton2{
    background-color: blue;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid darkblue;
    border-radius: 5px;
}